@media (min-width: 750px) {
  .started-backdrop {
    box-shadow: inset 5px -46px 80px 109px #181c20;
  }
}
.started-backdrop {
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0;
  transition: opacity 0.2s cubic-bezier(0.76, 0, 0.24, 1);
}

.fade-in {
  animation: fade 0.4s ease-in;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
}

.poster {
  object-fit: scale-down;
  width: 8rem;
  transition: 0.2s cubic-bezier(0.76, 0, 0.24, 1);
}
