@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow: overlay;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.profile-badge {
  border-radius: 50%;
  border-width: 2px;
  border-color: white;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  opacity: 0;
  border-radius: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  @apply bg-inherit;
  opacity: 0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  @apply bg-secondary;
  border-radius: 5px;
  opacity: 0;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
  opacity: 0;
}

h1 {
  color: white;
  font-size: 1.875rem /* 30px */;
  line-height: 2.25rem /* 36px */;
  font-family: var(--font-dm-serif);
  font-weight: 900;
}

h2 {
  font-weight: 200;
}

h3 {
  font-weight: 300;
}

p {
  font-family: Georgia, "Times New Roman", Times, serif;
  line-height: 1.5;
}

.mask1 {
  -webkit-mask-image: linear-gradient(transparent, black, transparent);
  mask-image: linear-gradient(transparent, black, transparent),
    linear-gradient(right, transparent, black, transparent);
  width: fit-content;
  height: fit-content;
}

.mask {
  position: relative;
}

.mask::before {
  background: linear-gradient(
      90deg,
      #14181d 0,
      rgba(20, 24, 29, 0.986) 0.97%,
      rgba(20, 24, 29, 0.945) 2.07833333%,
      rgba(20, 24, 29, 0.883) 3.29666667%,
      rgba(20, 24, 29, 0.803) 4.60166667%,
      rgba(20, 24, 29, 0.711) 5.96666667%,
      rgba(20, 24, 29, 0.61) 7.365%,
      rgba(20, 24, 29, 0.504) 8.77166667%,
      rgba(20, 24, 29, 0.398) 10.16%,
      rgba(20, 24, 29, 0.296) 11.505%,
      rgba(20, 24, 29, 0.203) 12.78%,
      rgba(20, 24, 29, 0.122) 13.95833333%,
      rgba(20, 24, 29, 0.059) 15.01666667%,
      rgba(20, 24, 29, 0.016) 15.92833333%,
      rgba(20, 24, 29, 0) 16.66666667%,
      rgba(20, 24, 29, 0) 83.33333333%,
      rgba(20, 24, 29, 0.016) 84.07166667%,
      rgba(20, 24, 29, 0.059) 84.98333333%,
      rgba(20, 24, 29, 0.122) 86.04166667%,
      rgba(20, 24, 29, 0.203) 87.22%,
      rgba(20, 24, 29, 0.296) 88.495%,
      rgba(20, 24, 29, 0.398) 89.84%,
      rgba(20, 24, 29, 0.504) 91.22833333%,
      rgba(20, 24, 29, 0.61) 92.635%,
      rgba(20, 24, 29, 0.711) 94.03333333%,
      rgba(20, 24, 29, 0.803) 95.39833333%,
      rgba(20, 24, 29, 0.883) 96.70333333%,
      rgba(20, 24, 29, 0.945) 97.92166667%,
      rgba(20, 24, 29, 0.986) 99.03%,
      #14181d
    ),
    linear-gradient(
      0deg,
      #14181d 0,
      #14181d 21.48148148%,
      rgba(20, 24, 29, 0.986) 23.63703704%,
      rgba(20, 24, 29, 0.945) 26.1%,
      rgba(20, 24, 29, 0.883) 28.80740741%,
      rgba(20, 24, 29, 0.803) 31.70740741%,
      rgba(20, 24, 29, 0.711) 34.74074074%,
      rgba(20, 24, 29, 0.61) 37.84814815%,
      rgba(20, 24, 29, 0.504) 40.97407407%,
      rgba(20, 24, 29, 0.398) 44.05925926%,
      rgba(20, 24, 29, 0.296) 47.04814815%,
      rgba(20, 24, 29, 0.203) 49.88148148%,
      rgba(20, 24, 29, 0.122) 52.5%,
      rgba(20, 24, 29, 0.059) 54.85185185%,
      rgba(20, 24, 29, 0.016) 56.87777778%,
      rgba(20, 24, 29, 0) 58.51851852%
    );
  background-repeat: no-repeat;
  content: "";
  display: block;
  height: 100%;
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 10;
}

body {
  @apply text-trimary;
  @apply bg-primary;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.smooth-transition {
  transition: 0.2s cubic-bezier(0.76, 0, 0.24, 1);
}

.text-field {
  border-radius: 8px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  outline: transparent;
  font-weight: 350;

  @apply bg-header-light-grey;
  @apply bg-opacity-25;
}

.text-field:hover {
  @apply bg-opacity-100;
}

.text-field:active {
  background-color: white;
}
.text-field:focus {
  background-color: white;
}
@layer base {
  :root {
    --radius: 0.5rem;
    --background: #14181c;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: #678;
    --popover-foreground: #d8e0e8;
    --primary: #14181c;
    --primary-foreground: 0 0% 98%;
    --secondary: 210, 20%, 33%;
    --secondary-foreground: 0 0% 9%;
    --muted: #2c344052;
    --muted-foreground: 0 0% 45.1%;
    --accent: #00c030;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: #445566;
    --input: #2c3440;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }
  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: #14181c;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.calendar-fill {
  background: url(../assets/calendar.svg);
  background-repeat: no-repeat;
  background-position-x: center;
  background-size: 85%;
  color: #14181c;
  text-transform: uppercase;
  text-align: center;
  font-size: small;
  padding-top: 1.25rem;
  padding-bottom: 10px;
}

.text-list {
  font-size: smaller;
}

@layer base {
  :root {
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

label {
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.input-field {
  background-color: #2c3440;
  color: #89a;
  border: hidden;
  border-bottom: solid 1px var(--border);
  outline: none;
  border-radius: calc(var(--radius) - 2px);
}

.input-field:focus {
  background-color: white;
  color: black;
  border: none;
}
